<!doctype html>

<html>
<head>

    <title>这是一个模版</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="../reveal.js/dist/reset.css">
    <link rel="stylesheet" href="../reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../assets/white.css" id="theme">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="../reveal.js/plugin/highlight/monokai.css" id="highlight-theme">
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <textarea data-template>
                    ## xx 数据库引擎介绍
                    - 背景 以及 以及面临的挑战

  			    </textarea>
            </section>
            <section>
                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:80%;" -->
                        ## 背景1
                        - 优点
                        - 缺点
                    </textarea>
                </section>

                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 背景2
                        - 优点
                        - 缺点
                    </textarea>
                </section>

                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## xx是如何解决的
                    </textarea>
                </section>


                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## xx架构
                    </textarea>
                </section>

                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 实现细节 1
                    </textarea>
                </section>

                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 实现细节 2
                    </textarea>
                </section>
            </section>


            <section>
                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 备份恢复
                    </textarea>
                </section>
                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 实现细节1
                    </textarea>
                </section>

            </section>

            <section>
                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ## 性能评估
                        ![image-20220119165714574](https://wanghenshui.github.io/assets/image-20220119165714574.png)
                    </textarea>
                </section>
                <section data-markdown>
                    <textarea data-template>
                        <!-- .element: style="font-size:75%;" -->
                        ### 实际数据？？
                    </textarea>
                </section>
            </section>

            <section data-markdown>
                <textarea data-template>
                    <!-- .element: style="font-size:75%;" -->
                    # 总结
                    - 优点 1
                    - 缺点 2
                </textarea>
            </section>

            <section>
                <h1 >Q/A</h1>
            </section>


        
            <section data-markdown>
                <textarea data-template>
                    <!-- .element: style="font-size:75%;" -->
                    ## 参考资料

                </textarea>
            </section>
        </div>
    </div>


    ​ </div>
    ​ </div>

    <script src="../reveal.js/dist/reveal.js"></script>
    <script src="../reveal.js/plugin/notes/notes.js"></script>
    <script src="../reveal.js/plugin/markdown/markdown.js"></script>
    <script src="../reveal.js/plugin/highlight/highlight.js"></script>
    <script>
        // More info about initialization & config:
        // - https://revealjs.com/initialization/
        // - https://revealjs.com/config/
        Reveal.initialize({
            hash: true,

            // Learn about plugins: https://revealjs.com/plugins/
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
        });
        
    </script>
</body>

</html>
